<style>
    .header
    {
        background-color:black; 
        color:white;
    }
</style>
<div>
    <h2>{{heading}} </h2>
    <table>
        <tr>
            <td><label>Outlet Name:</label> </td>
            <td><input type="text" ng-model="Outlet" /> </td>
            <td colspan="2">
                <input type="submit" value="Pull Outlets" ng-click="pulloutlets(Outlet)" />
            </td>
        </tr>
    </table>
    <!--<table>
        <tr>
            <td><label>Customer Name:</label> </td>            
        
            <td><label>Outlet Name:</label> </td>            
        </tr>
    </table>-->
    <div ng-if="outletlist.length > 0">
        <table>
            <tr>                
                <td><input type="text" ng-model="OutletName" placeholder="OutletName" /> </td>                
            </tr>
        </table>
        <table>
            <thead>
                <tr style="border-color:black;border-style:solid" class="header">
                    <td style="border-right-color:white;"><label>Outlet Name</label> </td>
                    <td><label>Customer Name</label> </td>
                    <td><label>Category</label> </td>
                    <td><label>Type</label> </td>
                    <td><label>Beat</label> </td>
                </tr>
            </thead>
            <tbody ng-repeat="outletdata in outletlist | filter: { 'OUTLET_NAME' :OutletName } | orderBy: 'OUTLET_NAME'">
                <tr style="border-color:black;border-style:solid">
                    <td><a ng-href="#/AddCustomer/{{outletdata.ID}}">{{outletdata.OUTLET_NAME}}</a> </td>
                    <td><label>{{outletdata.NAME}}</label> </td>
                    <td><label>{{outletdata.CATEGORYNAME}}</label> </td>
                    <td><label>{{outletdata.TYPENAME}}</label> </td>
                    <td><label>{{outletdata.BEATNAME}}</label> </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
