<style>
    .header
    {
        background-color:black; 
        color:white;
    }
    td#b1{        
        border: 4px solid black;
    }
</style>
<div>
    <h2>{{heading}} </h2>
    <table>
        <tr>
            <td><label>Outlet Name:</label> </td>
            <td><input type="text" ng-model="Outlet" /> </td>
            <td colspan="2">
                <input type="submit" value="Pull Outlets" ng-click="pulloutlets(Outlet)" class="glyphicon glyphicon-envelope" />
            </td>
        </tr>
    </table>
    <div ng-if="outletlist.length > 0">
        <!--<table>
            <tr>                
                <td><input type="text" ng-model="OutletName" placeholder="OutletName" /> </td>                
            </tr>
        </table>-->
        <table>
            <thead>
                <tr style="border-color:black;border-style:solid" class="header">
                    <td>
                        <label style="padding-left:20px;text-align:center">Outlet Name</label>
                    </td>
                    <td>
                        <label style="padding-left:20px;text-align:center">Customer Name</label>
                    </td>
                    <td>
                        <label style="padding-left:20px;text-align:center">Category</label>
                    </td>                    
                    <td>
                        <label style="padding-left:20px;text-align:center">Beat</label>
                    </td>
                    <td>
                        <label style="padding-left:20px;text-align:center">City</label>
                    </td>
                    <td>
                        <label style="padding-left:20px;text-align:center">Status</label>
                    </td>
                </tr>
            </thead>
            <tbody ng-repeat="outletdata in outletlist | filter: { 'OUTLET_NAME' :Outlet } | orderBy: 'OUTLET_NAME'">
                <tr style="border-color:black;border-style:solid">
                    <td id="b1">
                        <a style="padding-left:20px;font-size:medium;" ng-href="#/AddCustomer/{{outletdata.CUSTOMERID}}">{{outletdata.OUTLET_NAME}}</a>
                    </td>
                    <td id="b1">
                        <label style="padding-left:20px;">{{outletdata.CUSTOMER_NAME}}</label>
                    </td>
                    <td id="b1">
                        <label style="padding-left:20px;">{{outletdata.CATEGORYNAME}}</label>
                    </td>                    
                    <td id="b1">
                        <label style="padding-left:20px;">{{outletdata.BEATNAME}}</label>
                    </td>
                    <td id="b1">
                        <label style="padding-left:20px;">{{outletdata.CITYNAME}}</label>
                    </td>
                    <td id="b1">
                       <button ng-click="ChangeStatus(outletdata)" style="margin-left:25px;" >{{outletdata.STATUS}}</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
