<form ng-app="Customer" ng-controller="customer" name="CustomerMainForm" novalidate>
    <div>
        <div>
            <a href="#/ViewCustomer">View Customer</a>
            <a href="#/AddCustomer/0">Add Customer</a>            
        </div>        
        <div ng-view>
        </div>
    </div>
</form>
@section scripts {
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    @*<script src="~/Scripts/angular.intellisense.js"></script>*@
}
@section AppJS {
    <script src="~/Scripts/AppJS/Customer/Customer.js"></script>
    <script src="~/Scripts/AppJS/Customer/ViewCustomer.js"></script>
    <script src="~/Scripts/AppJS/Customer/AddCustomer.js"></script>
}

